/**
 * MAP
 * Stylesheet for map
 * ID: #map
 * Author: (Øyvind Johannessen)
**/
 #map {
   display: flex;
   width: 80%;
   height: 25rem;
   background-color: grey;
   border: 1px solid;
 }

 /* Media screen for large screens - RHJ
   - More white space required for large screen.
   - Larger map required for large screen.
 */
 @media (min-width : 1824px) {
   #map {
     display: flex;
     width: 60%;
     height: 30rem;
     background-color: grey;
     border: 1px solid;
   }
 }
 /* Media screen for small screens - RHJ
   - Much white space is unnecessary on phone
   - Shorter map required for small screen.
 */
 @media (min-width : 320px) and (max-width : 480px) {
   #map {
     display: flex;
     width: 90%;
     height: 15rem;
     background-color: grey;
     border: 1px solid;
   }
 }
