/**
*These are the colors we use
*#0B3861 header lyser
*navigation bar blå #022340
*hover oransje: #963307
*font farge #dadad9
*/

/**
* MAIN PAGE Structure
* RHJ -
*/

main{
  display: flex;
  flex-direction: column;
  background-color: white;

}
body{
    margin: 0 5% 0 5%;
  /**background-color: #0B3861;**/
}
/**
*header
NG
**/
header{
  background-color: #0B3861;
  width:100%;
  margin-bottom: 10px;
}
.nav{
  background-color: #022340;
  width:100%;
  margin: 0;
  padding:0;
  overflow:hidden;
  font-family: sans-serif;

}
.nav a{
  text-align: center;
  transition: all 0.3s ease;
  color: #dadad9;
  text-decoration:none;
  padding:10px;
  display: block;
  margin: 0;
}
.nav a:hover{
  background-color: #963307;
  color: white;
  text-decoration: none;
}
.nav a.active{
  background-color: #963307;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
#ul{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}
#li{
  float: left;
}
#logo{
  width:30%;
  padding-left: 4px;
}
#fjell{
  width:20%;
}
/**footer
*NG
**/
footer{
  width:100%;
  background-color: #0B3861;
  color:#dadad9;
  padding:10px;
}
#footer_overskrift{
  color:#963307;
  font-family: sans-serif;
}
/**
* FRONT PAGE
* RHJ -
*/
.frontpage {
  display:flex;
  flex-direction: column;
}

.information {
  width: auto;
}

.interactivity {
  float: right;
  margin:0;
  padding:0;

}
#facebook{
 width:20%;
}
#search{
  display:block;
  background-color: #0B3861;
  color:#dadad9;
  padding:4px;
  font-family: sans-serif;
  font-weight:lighter;
}
/**
* MAP PAGE
* RHJ -
*/
.mapDescription {
  margin: 5px;
}

.dropdown-menu {
  width: 100%;
  margin: 5px;
  border: 1px solid;
}

.location {
  margin: 5px;
  max-width: 100%;
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  background-color: darkgrey;
}
.location-image {
  flex: 0.5 0 auto;
  width: 25%;
  margin: 5px;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  background-color: lightgrey;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
  border-radius: 8px;
  border: 1px solid;
}

.location-info {
  flex: 1 0 auto;
  width: 50%;
  margin: 5px;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  background-color: lightgrey;
}

.location-button {
  align-self: center;
  flex: 0.5 0 auto;
}
