/**
*These are the colors we use
*#0B3861 header lyser
*navigation bar blå #022340
*hover oransje: #963307
*font farge #dadad9
*/

/**
* Survival-page structure
* @author: TRL
* @version: 0.1
* @date, current: 23012018
*
* Grunnkode hentet fra "style.css". Merknader er satt inn der endringer er gjort i koden.
*/

/* Alternativ font-family satt inn i html-taggen. -TRL*/
html{font-family: "Georgia", serif;}
/* Fjernet marginene i body. -TRL */
body{
  margin: 0 0 0 0;
  background-color: white;
}
/**/
main{
  display: flex;
  flex-direction: column;
}

/* Samlet header- og footer-kode. -TRL */
/**
*header
NG
**/
header{
  background-color: #0B3861;
  width:100%;
  margin-bottom: 10px;
}
header ul{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}
header li{
  float: left;
}
/**footer
*NG
**/
footer{
  width:100%;
  background-color: #0B3861;
  color:#dadad9;
  padding:10px;
}
#footer_overskrift{
  color:#963307;
  font-family: sans-serif;
}



/* Hva gjør denne? */
.nav{
  background-color: #022340;
  width:100%;
  margin: 0;
  padding:0;
  overflow:hidden;
  font-family: sans-serif;
}
/* Hva gjør denne? */
.nav a{
  text-align: center;
  transition: all 0.3s ease;
  color: #dadad9;
  text-decoration:none;
  padding:10px;
  display: block;
  margin: 0;
}
/* Hva gjør denne? */
.nav a:hover{
  background-color: #963307;
  color: white;
  text-decoration: none;
}
/* Hva gjør denne? */
.nav a.active{
  background-color: #963307;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
/* Hva gjør denne? */
#logo{
  width:10%;
  padding-left: 4px;
}
/* Hva gjør denne? */
#fjell{
  width:5%;
}
/* Hva gjør denne? */
.search{
  display: block;
  color:#dadad9;
  background-color: #0B3861;
  font-family: sans-serif;

}

/* Media Queries for forskjellige skjermstørrelser. Gjør disse det de skal? */

  /* Media screen for large screens - RHJ
    - More white space required for large screen.
  */
  @media (min-width : 1824px) {
    body{
        margin: 0 25% 0 25%;
    }
  }

    /* Jeg kommenterte ut den øverste av de to small screen @media-queriene under.
    Hvilken skal brukes? Er de ferdig?
    TRL*/

    /* Media screen for small screens - RHJ
      - Much white space is unnecessary on phone
    */
    /* @media (min-width : 320px) and (max-width : 480px) {
      body{
          margin: 0 5% 0 5%;
      }
    } */

    /* Media screen for small screens - RHJ
      - Make logo much bigger on phone screens
    */
    @media (min-width : 320px) and (max-width : 480px) {
      #logo{
        width:30%;
        padding-left: 4px;
      }
      #fjell{
        width:20%;
      }
    }
/* END @media*/


/**
* Opprinnelig kode fra style.css
*   FRONT PAGE
*   RHJ -
*
* Endret for å brukes i survival.html.
*/
.SurvivalPage {
  display:flex;
}
  /* Media screen for small screens - RHJ
    - Move to a column display on phones to prevent cramped space
  */
  @media (min-width : 320px) and (max-width : 480px) {
    .SurvivalPage {
      display:flex;
      flex-direction: column;
    }
}

.front-picture {
  max-width: 100%;
}
/* Media screen for large screens - RHJ
  - Shrink front image on small screens.
*/
@media (min-width : 1824px) {
  .front-picture {
    max-width: 80%;
  }
}

.information {
  width: 60%;
}
/* Media screen for small screens - RHJ
  - Make information section fill screen width
*/
@media (min-width : 320px) and (max-width : 480px) {
  .information {
    width: auto;
  }
}

.interactivity {
  float: right;
  margin:0;
  padding:0;

}
#facebook{
  width:30%;
}
/* Media screen for small screens - RHJ
  - Make Facebook logo smaller on phones.
*/
@media (min-width : 320px) and (max-width : 480px) {
  #facebook{
   width:20%;
  }
}

.interactiveHeader{
    display:block;
.search{
  display:block;
  background-color: #0B3861;
  color:#dadad9;
  padding:4px;
  font-family: sans-serif;
  font-weight:lighter;
}
#facebook{
  width:30%;
}
/**
* MAP PAGE
* RHJ -
*/
.mapDescription {
  margin: 5px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  width: 100%;
  margin: 5px;
  border: 1px solid;
}
/* Media screen for large screens - RHJ

 */
@media (min-width : 1824px) {

  }

}
/* Media screen for small screens - RHJ

*/
@media (min-width : 320px) and (max-width : 480px) {

}

.location {
  margin: 5px;
  max-width: 100%;
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  background-color: darkgrey;
}

#drinking {
  display: none;
}

#uib {
  display: none;
}

#culture {
  display: none;
}

#hikes {
  display: none;
}

#stores {
  display: none;
}

.location-image {
  flex: 0.5 0 auto;
  width: 25%;
  margin: 5px;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  background-color: lightgrey;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
  border-radius: 8px;
  border: 1px solid;
}

.location-info {
  flex: 1 0 auto;
  width: 50%;
  margin: 5px;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  background-color: lightgrey;
}

.location-button {
  align-self: center;
  flex: 0.5 0 auto;
}

/**The Beating Heart of Bergen**/

@keyframes heartbeat {
  0% {
    transform: scale( .75);
  }
  20% {
    transform: scale( 1);
  }
  40% {
    transform: scale( .75);
  }
  60% {
    transform: scale( 1);
  }
  80% {
    transform: scale( .75);
  }
  100% {
    transform: scale( .75);
  }
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: heartbeat 1s infinite;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/*Heartstop*/
